{% extends 'base.html' %}
{% block title %}IDA Platform • Credentials{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if "successfully" in messages[0] %}
<br>
<div class="success_item">
  {{ messages[0] }}
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
</div>
{% elif messages %}
<br>
<div class="alert_item">
  {{ messages[0] }}
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
</div>
{% endif %}
{% endwith %}

<div class="header_credentials">
  <br><br><br>
  <h2>NEXPIE Credentials</h2><br>
</div>

<div class="box_credentials">
<form>
  <table>
      <br>
    <tr>
      <th colspan="3">Current credentials</th>
    </tr>
    <tr>

      <th>Device ID</th>
      <th>Token</th>
      <th>Secret</th>
    </tr>
    <tr>
    {% for row in result %}
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
    </tr><br>
    {% endfor %}
  </table>
</form>

<form method="POST" action="/credentials">
<br>
  <table>
  <tr>
      <th colspan="4">Change credentials</th>
    </tr>
    <tr>
      <th>Edit?</th>
      <th>Device ID</th>
      <th>Token</th>
      <th>Secret</th>
    </tr>
    <tr>
      <td><input type="checkbox" id="resultCheckbox" name="resultCheckbox" value="result"><br></td>
      <td><input type="text" id="resultClientID" name="resultClientID" placeholder="Device ID" maxlength="36" size="40" disabled></td>
      <td><input type="text" id="resultToken" name="resultToken" placeholder="Token" maxlength="32" size="36" disabled></td>
      <td><input type="text" id="resultSecret" name="resultSecret" placeholder="Secret" maxlength="32" size="36" disabled></td>
    </tr>
  </table>
  <div class="text-center">
    <br><button id="nexpie_submit" type="submit" class="btn btn-secondary my-1" value="submit1" disabled>Submit</button><br><br><br><br>
  </div>
</form>
</div>
{% endblock %}
