{% extends 'base.html' %}
{% block title %}IDA Platform - Configuration{% endblock %}
{% block content %}

<div class="box-adddevice">
<br><br><br><h2>Add Device</h2><br></div>

{% for datarow in data %}
{% if datarow[5] == "tablinks active" %}
<div id={{ datarow[7] }} class="tabcontent" style="display: block">
  {% else %}
  <div id={{ datarow[7] }} class="tabcontent" style="display: block">
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br><div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/newdevice">
      <br>
      <div class="form-group" style="align-items: center;justify-content:center;display: flex">
        <table style="width:60%">
          <tr>
            <td style="border: none"><label for={{ datarow[13] }}>Device Name:&nbsp;</label>
              <input type="text" id={{ datarow[13] }} name={{ datarow[13] }} maxlength="30" value={{ datarow[6] }}>
            </td>
            <td style="border: none"><label for={{ datarow[8] }}>IP Address:&nbsp;</label>
              <input type="text" id={{ datarow[8] }} name={{ datarow[8] }} maxlength="15" value={{ datarow[2] }}>
            </td >
            <td style="border: none"><label for={{ datarow[9] }}>Unit ID:&nbsp;</label>
              <input type="text" id={{ datarow[9] }} name={{ datarow[9] }} maxlength="15" value={{ datarow[1] }}>
            </td>
            <td style="border: none">
              {% if datarow[4] == "enabled" %}
              <input type="checkbox" id={{ datarow[10] }} name={{ datarow[10] }} value="enabled" checked>
              {% else %}
              <input type="checkbox" id={{ datarow[10] }} name={{ datarow[10] }} value="enabled">
              {% endif %}
              <!-- need database that contains sensors name -->
              <label for={{ datarow[10] }}> Enable?</label><br>
            </td>
            <input type="text" id={{ datarow[11] }} name={{ datarow[11] }} maxlength="15" value={{ datarow[1] }} hidden>
            <input type="text" id={{ datarow[12] }} name={{ datarow[12] }} maxlength="15" value={{ datarow[2] }} hidden>

          </tr>
        </table>
      </div>
      <br>
      <table style="width:60%">
        <tr>
          <th>Position</th>
          <th>Channel</th>
          <th>Type</th>
          <th>Name</th>
          <th>Starting Address</th>
          <th>Quantity</th>
          <th>Sensors</th>
        </tr>
        {% for row in result %}
        {% if datarow[2] == row[8] %}
        <!-- print if got same ip address-->
        <tr>
          <!-- change name parameter -->
          <td><input type="text" id="position" name={{ row[9] }} maxlength="30" value={{ row[2] }} hidden>{{ row[2] }}</td>
          <td><input type="text" id="channel" name={{ row[10] }} maxlength="30" value={{ row[3] }} hidden>{{ row[3] }}</td>
          {% if row[3] == "1" %}
          <td><select name={{ row[17] }} id="type">
              {% include 'type_selector.html' %}
            </select></td>
          {% else %}
          <td></td>
          {% endif %}
          <td><input type="text" id="name" name={{ row[12] }} maxlength="30" value={{ row[5] }}></td>
          <td><input type="text" id="start" name={{ row[13] }} maxlength="4" value={{ row[6] }}></td>
          <td><input type="text" id="end" name={{ row[14] }} maxlength="4" value={{ row[7] }}></td>
          <td><select name={{ row[16] }} id={{ row[16] }}>
            {% include 'sensor_list.html' %}
            </select></td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>
      <div class="text-center">
        <br><button type="submit" class="btn btn-secondary my-1" value="submit1">Submit</button><br><br><br><br>
      </div>
    </form>
  </div>
  {% endfor %}

{% endblock %}
