{% block body %}
{% if row[15] == "DI" %}
<option value="DI">Digital Input</option>
<option value="Current">Current</option>
<option value="Voltage">Voltage</option>
<option value="None">None</option>
{% elif row[15] == "Current" %}
<option value="Current">Current</option>
<option value="Voltage">Voltage</option>
<option value="DI">Digital Input</option>
<option value="None">None</option>
{% elif row[15] == "Voltage" %}
<option value="Voltage">Voltage</option>
<option value="Current">Current</option>
<option value="DI">Digital Input</option>
<option value="None">None</option>
{% else %}
<option value="None">None</option>
<option value="Current">Current</option>
<option value="Voltage">Voltage</option>
<option value="DI">Digital Input</option>
{% endif %}
{% endblock %}
