{% extends 'base.html' %}
{% block title %}IDA Platform • {{ name }}{% endblock %}
{% block content %}
<div class="box-headeruser">
  <br><br><br>
  <h2>User: {{ name }}</h2><br>
</div>

<div class="tab">
  <button class='tablinks active' onclick="openTab(event, 'change_password')">Password</button>
  <button class='tablinks' onclick="openTab(event, 'display_log')">Log File</button>
</div>

{% with messages = get_flashed_messages() %}
{% if "Successfully" in messages[0] %}
<br>
<div class="success_item">
  {{ messages[0] }}
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
</div>
{% elif messages %}
<br>
<div class="alert_item">
  {{ messages[0] }}
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
</div>
{% endif %}
{% endwith %}
<br><br>
<div id="change_password" class="tabcontent" style="display: block">
  <form method="POST" action="/user">
    <div class="password_input">
      <table>
        <tr>
          <th colspan="2">Change Password<br></th>
        </tr>
        <tr>
          <td><label for="currentpassword">Current Password:&nbsp;</label></td>
          <td><input type="password" id="currentpassword" name="currentpassword" pattern=".{10,}" maxlength="20" autocomplete="off">
          </td><br>
        </tr>
        <tr>
          <td><label for="password">Password:&nbsp;</label></td>
          <td><input type="password" id="password" name="password" pattern=".{10,}" maxlength="20" autocomplete="off">
          </td><br>
        </tr>
        <tr>
          <td><label for="repassword">Retype Password:&nbsp;</label></td>
          <td><input type="password" id="repassword" name="repassword" pattern=".{10,}" maxlength="20" autocomplete="off">
          </td><br>
        </tr>
      </table>
    </div><br>
    <div id='message' class="password_checker">&nbsp;</div>
    <br>
    <div id="submit_password" class="submit_password">
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

<div id="display_log" class="tabcontent">
  <div class="textarea_log">
    <textarea disabled>{{ content }}</textarea>
  </div>
</div>
{% endblock %}
