body {
  font-family: "Poppins", serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type=text] {
  border: none;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cfcfcf;
}

input[type=text]:focus {
  outline: none;
  background-color: #fff;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000;
}

input[type=text]:disabled {
  color: black;
  background-color: #ebebeb;
}

.btn{
  font-weight: 500;
  color: #fff;
  background-color: #840000;
  border-width: 3px;
  border-style: solid;
  border-color: #840000;

}

.btn:hover{
  font-weight: 500;
  color: #840000;
  background-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-color: #840000;
}



h2, text-muted{
  text-align: left;

}

destination table{
  border: none !important;
}

.submit{
  text-align: center;
}

.footer {
  font-size: 13px;
  height: 2.7%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: block;
  background-color: #840000;
  width: 100%;
  text-align: center;
  color: white;
}

.success_item{
  border: none;
  border-width: 10px;
  border-left-style: solid;
  border-left-color: #00D93A;
  padding: 14px;
  top: 80px;
  right: 13px;
  position: fixed;
  display: inline-block;
  margin: auto;
  font-weight: 500;
  color: white;
  background-color: #424242;
  font-size: 16px;
}

.alert_item{
  border: none;
  border-width: 10px;
  border-left-style: solid;
  border-left-color: red;
  padding: 14px;
  top: 80px;
  right: 13px;
  position: fixed;
  display: inline-block;
  margin: auto;
  font-weight: 500;
  color: white;
  background-color: #424242;
  font-size: 16px;
}

.closebtn{
  border: none;
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 18px;
}

.closebtn:hover {
  color: black;
}
