.box-header{
  width:80%;
  margin: auto;/*
  border-width: 3px;
  border-style: solid;*/
}

.newdevice button{

  bottom: 50px;
  right: 13px;
  position: fixed;
}

.toggleButton button{
  bottom: 105px;
  right: 13px;
  position: fixed;
}

.submit_config button{
  bottom: 215px;
  right: 13px;
  position: fixed;
}

.tabcontent .delete_config button{
  bottom: 160px;
  right: 13px;
  position: fixed;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
