.header_powermeter{
  width:70%;
  margin: auto;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #8a8a8a;
}

.box_powermeter {
  width:70%;
  margin: auto;
  animation-name: fade;
  animation-duration: 0.9s;
}
